{% extends "../main/base.html" %}

{% block title %}Restablecimiento de contraseña{% endblock %}
{% block h1 %}Restablecimiento de contraseña{% endblock %}

{% block content %}
    <h3 class="text-center mt-5">
        Para restablecer la contraseña contactar a <a href="mailto:psotorrio@izasacientific.com">psotorrio@izasacientific.com</a>, o por teléfono al 60700.
    </h3>
    <h4 class="text-center mt-5">
        <a href="{% url 'login' %}">Volver al Inicio</a>
    </h4>
  <!--<form action="" method="post" class="form-floating border">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="form-floating mb-3 col-sm-3">
            <input type="email" name="email" autofocus="" autocapitalize="email" autocomplete="email" required="" class="form-control" placeholder="id@izasascientific.com" id="id_email" maxlength="30"id="id_username">
            <label for="id_username">E-mail</label>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3 text-center">
            <input type="submit" class="btn btn-secondary mb-2" value="Restablecer contraseña">
        </div>
        <div class="col-sm-4"></div>
    </div>

  </form>-->
{% endblock %}
