<div class="container-md bg-secondary text-warning">
    <h3>{{ titulo }}</h3>
    <form name="form_busqueda" action="" method="post">
        {% csrf_token %}
        {{ fprincipal.as_table }}
        {% if consultar_averia %}
            <select name="sintomas" id="sintomas" multiple length="50", hx-post="/glosario_averias/mostrar_averia/", hx-target="#contenido_averia", hx-trigger="click">
        {% endif %}
        {% if editar_averia %}
        <select name="sintomas" id="sintomas" multiple length="50", hx-post="/glosario_averias/edicion/", hx-target="#contenido_averia", hx-trigger="click">
        {% endif %}
            {% autoescape off %}}
            {{ listasintomas }}
            {% endautoescape %}
        </select>
    </form>
    <div id="contenido_averia"></div>
</div>
